# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/src/web/WebService.py
/misc.xml
modules.xml
Projekty.iml
vcs.xml
/inspectionProfiles/